<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/dashboard"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
          <ion-col text-center>
            Welcome to profile!
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>
            Your Registered EmailID : {{userEmail}}
          </ion-col>
        </ion-row>
      </ion-grid>  
</ion-content>
