<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>

  <ion-card>
    <ion-card-title> <img src="../../assets/road.jpg"> </ion-card-title>

    <ion-card-content>
      <h1> N1 </h1>
      <h4>Route from cape-town - zimbabwe </h4>
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-title> <img src="../../assets/road.jpg"> </ion-card-title>
  
      <ion-card-content>
        <h1> N2 </h1>
        <h4>Route from cape-town - zimbabwe </h4>
      </ion-card-content>
    </ion-card>
  
    
    <ion-card>
        <ion-card-title> <img src="../../assets/road.jpg"> </ion-card-title>
    
        <ion-card-content>
          <h1> N3 </h1>
          <h4>Route from cape-town - zimbabwe </h4>
        </ion-card-content>
      </ion-card>
  
      
      <ion-card>
          <ion-card-title> <img src="../../assets/road.jpg"> </ion-card-title>
      
          <ion-card-content>
            <h1> N4 </h1>
            <h4>Route from cape-town - zimbabwe </h4>
          </ion-card-content>
        </ion-card>
        


</ion-content>

<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>